psc_test_mfields_single
psc_test_cyclo
psc_test_accel
psc_test_em_wave
test_bnd
test_bnd_multi
test_exchange_particles
test_exchange_particles_multi
test_field
test_psc_mparticles
test_part_xy
test_part_xz
test_part_yz
test_part_yz_a
test_part_yz_b
test_part_z
test_sort
test_cuda_mparticles
thrust1
vec3_unittest
interpolate_unittest
*.trs
