*~
00*
endfile
okfile
*.mod
*.o
*.a
BACKUP
SELECT
VLA
VLI
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
compile
depcomp
stamp-h1
config.h
config.h.in
src/.deps
idl/*.gz
idl/*.eps
idl/EE
idl/EFILES
idl/PFILES
idl/PP

