*~
00*
endfile
okfile
*.mod
*.o
*.a
*.asc
BACKUP
SELECT
src/VLA
src/VLI
src/test1
src/test2
src/test3
src/test4
src/test_sort
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
compile
depcomp
stamp-h1
config.h
config.h.in
.deps
idl/*.gz
idl/*.eps
idl/EE
idl/EFILES
idl/PFILES
idl/PP
src/cuda/push_part_yz.cu
src/util/test_params
