*~
*#*
64x64*
endfile
okfile
*.mod
*.o
*.lo
*.a
*.la
*.asc
*.pyc
*.orig
*.dSYM
*.trs
build
/build*
.ipynb_checkpoints
.libs
BACKUP
SELECT
src/VLI
src/psc_restart
src/psc_kelvin_helmholtz
src/psc_kelvin_helmholtz_double
src/psc_mirror
src/psc_es1
src/psc_bohm
src/psc_spitzer
src/psc_harris
src/psc_bubble
src/psc_bubble_yz
src/psc_photon_test
src/psc_test_emission
src/psc_test_singlepart
src/psc_test_microsphere
src/psc_test_twoparticles
src/psc_test_fdtd
src/psc_test_open
Makefile.in
Makefile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
aclocal.m4
autom4te.cache
config.log
config.status
confdefs.h
config.guess
config.sub
conftest.c
libtool
configure
install-sh
missing
compile
depcomp
stamp-h1
.dirstamp
config.h
config.h.in
.deps
idl/*.gz
idl/*.eps
idl/EE
idl/EFILES
idl/PFILES
idl/PP
src/util/test_params
/*.h5
/*.xdmf
/*.psc
*.vtk
*.log
ltmain.sh
data
doxygen/doxy_err.log
doxygen/html
TAGS
.DS_Store
src/libmrc/tests/test_diag
src/libmrc/tests/test_dict
src/libmrc/tests/test_io
src/libmrc/tests/test_io_read
src/libmrc/tests/test_mrc_obj
src/libmrc/tests/test_spherical_harmonics
src/libmrc/tests/test_ddc
src/libmrc/tests/test_mrc_domain_multi
src/libmrc/tests/test_mrc_ddc
src/libmrc/tests/tutorial_mrc_obj
src/libmrc/tests/run.*
*.aux
*.synctex.gz
test-driver
spack-build/
spack-build-env.txt
spack-build-out.txt
spack-configure-args.txt
.vscode/
**/psc*params.txt
