*.sh
test_rmhd
test_kdv
test_kdv_simple
test_kdv_simple3d
test_rlc
test_mrc_ddc
test_mrc_domain_simple
test_mrc_domain_multi
test_mrc_f3
test_mrc_m1
test_mrc_m3
test_erfi
test_io_read_multi
test_wavelet
tutorial_mrc_obj

