*.sh
*.trs
*.log
/run.000000_p000000.h5
/run.000000_p000000.h5.dump
test_rmhd
test_kdv
test_kdv_simple
test_kdv_simple3d
test_rlc
test_mrc_ddc
test_mrc_domain_simple
test_mrc_domain_multi
test_mrc_domain_amr
test_mrc_domain_mb
test_mrc_crds
test_mrc_ndarray
test_mrc_fld
test_mrc_fld_io
test_mrc_fld_view
test_mrc_f3
test_mrc_m1
test_mrc_m3
test_erfi
test_io_read_multi
test_wavelet
tutorial_mrc_obj
test_ddc
test_dict
test_io
test_io_2d
test_io_read
test_mrc_obj
test_spherical_harmonics
test_fdtd_amr
test_mrc_mat
test_json
test_json_mrc_obj
*.asc
/run*.xdmf
/run*.h5

