test_ggcm_mhd_crds
test_ggcm_mhd
mhd_fadeev
mhd2
mhd_bw
mhd_cosine
mhd_double_tearing
mhd_fadeev
mhd_ot
mhd_kh
mhd_ici
mhd_shocktube
mhd_hydroblast
mhd_mhdblast
mhd_harris
mhd_wave
mhd_gkeyll
mhd_mirdip
mhd_test_bnd_sphere
mhd_cpaw
mhd_wave_cpaw.sh
check_wave_cpaw.py
bak
mhdblast001
bowshock001
ref_hydro
ref_hydro_amr
ref
*.log
*.trs
*.xdmf
*.h5
*.png
*.mp4
*.log
*.sh
old

